h1 {
    color: purple;
    font-size: 25pt;
}

.p1 {
    font-size: 15pt;
}

.container {
    padding-bottom: 20px;
}

form {
    outline-style: solid;
    outline-color: grey;
    outline-offset: 20px;
    font-size: 20pt;
}

#dining {
    font-size: 25pt;
}

#submit {
    background-color: purple;
    font-size: 15pt;
}
