jumbotron {
    background-image: url ("./HUHTTB_Beach_Bungalow_1000x600_29626.jpg")
}
.form {
    min-height: 150px;
    padding-top: 50px;
  }
h2 {
    color: rgb(82, 4, 82)
}

input {
    color: black
}	